{% extends 'index.html' %}
{%block title%} <title>All Todo's</title> {% endblock %}

{%block content%}
{% if not alltodos%}
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
            <div class="card container-fluid" style="margin-top:1rem">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">NO TASKS</h5>
                    <p class="card-text">Either Add One or Chill</p>
                    <a href="{%url 'add' %}" class="btn btn-success">Add</a>
                </div>
            </div>
        </div>
    </div>
{%endif%}
{% for eachtodo in alltodos %}
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
            <div class="card container-fluid" style="margin-top:1rem">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">{{eachtodo.title}} - Priority - {{eachtodo.priority}}</h5>
                    <p class="card-text">{{eachtodo.description}}</p>
                    <p class="card-text">{{eachtodo.created_at}}</p>
                    <a href="/delete/{{eachtodo.id}}" class="btn btn-danger">Delete</a>
                    <a href="/edit/{{eachtodo.id}}" class="btn btn-warning">    Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}