{% extends 'index.html' %}
{% block title %}Second Form{% endblock %}

{% block content %}
<div class="col-md-6", style="margin: 0 auto" >
    {% if success == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ successmsg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %} 
        {{ form.as_ul }}
        <button type="Submit" class="btn btn-primary" style="margin:1rem auto 0 auto;display:block">Submit</button>
    </form>
</div>
{% endblock %}